
<form role="form">
  <div class="form-group">
    <label for="products">{{ 'LBL_PRODUCTS' | translate }}</label>
    <select name="products" ng-model="productSelected" style="width:300px;" select-dropdown>
      <option ng-repeat="prod in products" value="{{prod._id}}">{{prod.name}} {{(prod.type != '') ? '- ' + prod.type : ''}}</option>
    </select>
  </div>
  
  <div class="form-group">
    <input type="text" name="markets" />
    <!--button ng-click="selectAllMarkets()" class="btn btn-default">{{ 'BTN_SELECT_ALL' | translate }}</button-->
  </div>

  
  <button ng-click="draw()" translate="BTN_DRAW_CHARTS" ng-disabled="productSelected == undefined" 
  class="btn btn-primary"></button>
</form>

<div ng-dropdown-multiselect="" options="products" selected-model="marketSelected"></div>

<div ng-show="transactions != undefined && transactions.data.length <= 0">
  {{ 'MSG_NO_RECORDS_FOUND' | translate }}
</div>


<div id="container" style="width:100%; height:450px;"></div>